.categories {
    position: absolute;
    top: 90px;
    background-color: #fff;
    box-shadow: 0px 0px 37px 12px rgba(34, 60, 80, 0.2);
    width: 330px;
    border-radius: 6px;
    padding: 25px 0 17px 25px;
}

.categories__title {
    color: #81828c;
    margin-bottom: 24px;
}

.categories__item {
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
    margin-bottom: 19px;
}

.categories__item:hover {
    color: rgb(32, 158, 32);
}

.active {
    color: red;
}